# Application Environment Configuration
PROJECT_NAME="Smart Retail & Customer Intelligence Platform"
DEBUG=True
API_KEY=smart_retail_secret_key_2026

# Database
DATABASE_URL=sqlite:///data/smart_retail.db

# API Host Base URL (For Dashboard)
API_BASE_URL=http://localhost:8000
